$red: #e00;
$light-green: #090;

.calendar-graph {
  rect {
    fill: $red;

    &[data-count='0'] {
      fill: $light-green;
      opacity: 1;
    }

    @for $i from 1 through 20 {
      &[data-count="#{$i}"] {
        opacity: $i / 10;
      }
    }
  }
}
